.navbar {
    padding: 1rem 1rem 1rem 3rem;
    color: black;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    
}

.logo img {
    width: 4.5rem;
    margin-right: 1rem;
}

.switch {
    background: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 1rem;
    width: 14%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.487);
}

.press {
    font-size: 1.5rem;
}