.social {
    width: 90%;
    margin: 0rem auto 3rem auto;
    display: flex;
    justify-content: space-evenly;
}

.social img {
    width: 7rem;
    margin: 0.5rem 0rem;
}

.media_card {
    color: black;
    width: 16%;
    padding: 0.5rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.card_text {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0rem 0.5rem;
    padding-top: 1rem;
}

.last {
    border-bottom: 1px solid black;
}


